<app-title [titleVar]="titleCidade"></app-title>

<div *ngIf="selectedCidade">
  Detalhes do Cidade: {{selectedCidade}}
  <br>
  <button class="btn btn-warning" (click)="back()">Voltar</button>
</div>
<div *ngIf="!selectedCidade">
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cidade of cidades" style="cursor: pointer;" 
      (click)="selectCidade(cidade)">
        <th scope="row">{{cidade.id}}</th>
        <td>{{cidade.nome}}</td>
        <td>{{cidade.estado}}</td>
      </tr>
    </tbody>
  </table>


</div>


