
<div *ngIf="selectedMedico">
  <app-title [titleVar]="'Médico ID: ' + selectedMedico.id"></app-title>
  <br>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome</label>
    <input type="text" value="{{selectedMedico.nome}}" class="form-control"  >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">CRM</label>
    <input type="number" value="{{selectedMedico.crm}}" class="form-control"  >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Especialidade</label>
    <input type="text" value="{{selectedMedico.especialidade}}" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Telefone</label>
    <input type="number" value="{{selectedMedico.telefone}}" class="form-control">
  </div>

  <button class="btn btn-warning" (click)="back()">Voltar</button>

</div>
<div *ngIf="!selectedMedico">
  <app-title [titleVar]="titleMedico"></app-title>
  <p>Nenhum médico selecionado</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Especialização</th>
        <th scope="col">CRM</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medico of medicos" style="cursor: pointer;" 
       (click)="selectMedico(medico)">
        <th scope="row">{{medico.id}}</th>
        <td>{{medico.nome}}</td>
        <td>{{medico.especialidade}}</td>
        <td>{{medico.crm}}</td>
        <td>{{medico.telefone}}</td>
      </tr>
    </tbody>
  </table>

</div>


